<h1><%= @cocktail.name %></h1>

<h2>Recipe</h2>
<ul>
<% @cocktail.doses.each do |dose| %>
  <li><%= dose.description %> <%= 'of ' unless /\A\d+\z/.match?(dose.description) %><%= dose.ingredient.name %><%= link_to raw("<i class=\"fas fa-trash-alt btn btn-base\"></i>"), cocktail_dose_path(@cocktail, dose), method: :delete, data: { confirm: "Are you sure?" } %></li>
<% end %>
</ul>

<h2>Add ingredient</h2>
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :ingredient_id, input_html:{class: "select2"} ,collection: Ingredient.all %>
  <%= f.input :description, label: "Insert the quantity" %>
  <%= f.submit "Add ingredient", class: "btn btn-base" %>
<% end %>


<%= link_to 'Back to cocktails', cocktails_path, class: "btn btn-primary" %>
